.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

body {
  background-color: #fed29f;
  margin: 0; 
  font-family: "Poppins", sans-serif; 
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fed29f;
  min-height: 100vh; /* Set a minimum height to cover the viewport */
}

.wrapper {
  padding: 25px;
  border: 0.1px solid rgb(96, 96, 96);
  width: 90%; /* Adjust the width to make it responsive */
  max-width: 500px; /* Limit the maximum width for larger screens */
  background: rgba(219, 216, 216, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
}

.app__image {
  margin: 24px;
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain the aspect ratio of the image */
  border-radius: 10px;
}

.location_searcher {
  padding: 8px;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 5px;
  margin-top: 10px; 
  margin: 5px;
}

.location_input {
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #333;
  border-radius: 5px;
  margin-top: 10px; 
  width: 55%; 
}

.temp {
  margin: 10px 0; 
  color: #2e2e2e;
  text-align: center; 
}
